<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Vin Norman">
    <meta name="description" content="Developer website for me, Vin Norman. This site is a showcase of my programming abilities, including the languages I have worked with, examples, GitHub repositories and more">

    <title>Vin Norman - Developer Website</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/main.css" />
</head>

<body>
    <header class="cover">

        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="../index.html">Vin Norman</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vinNormanNav" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="vinNormanNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Android</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Web
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Front End</a>
                            <a class="dropdown-item" href="#">Back End</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">My RESTful Guide</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Java</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="mailto:vin.norman@gmail.com" class=" nav-link">
                            Contact Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.github.com/vinnorman" class="btn btn-outline-light">
                            <span class="fa fa-github"></span> View on GitHub</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4">
                    <strong>RESTful Routing Guide</strong>
                </h1>
                <p class="lead">Simple reference for RESTful routes.</p>
            </div>
        </div>
    </header>


    <main>

        <div class="container">
            <table class="table table-hover table-bordered">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>HTTP Verb</th>
                        <th>Purpose</th>
                        <th>Mongoose Method</th>
                    </tr>
                </thead>

                <tbody>
                    <tr >
                        <td>Index</td>
                        <td>/dogs</td>
                        <td>GET</td>
                        <td>List all dogs.</td>
                        <td>Dog.find()</td>
                    </tr>
                    <tr class="table-success">
                        <td>New</td>
                        <td>/dogs/new</td>
                        <td>GET</td>
                        <td>Show new dog form</td>
                        <td>N/A</td>
                    </tr>
                    <tr class="table-success"> 
                        <td>Create</td>
                        <td>/dogs</td>
                        <td>POST</td>
                        <td>Create a new dog, then redirect somewhere</td>
                        <td>Dog.create()</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Show</td>
                        <td>/dogs/:id</td>
                        <td>GET</td>
                        <td>Show info about one specific dog</td>
                        <td>Dog.findById()</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Edit</td>
                        <td>/dogs/:id/edit</td>
                        <td>GET</td>
                        <td>Show edit form for one dog</td>
                        <td>Dog.findById()</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Update</td>
                        <td>/dogs/:id</td>
                        <td>PUT</td>
                        <td>Update a particular dog, then redirect somewhere</td>
                        <td>Dog.findByIdAndUpdate()</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Destroy</td>
                        <td>/dogs/:id</td>
                        <td>DELETE</td>
                        <td>Delete a particular dog, then redirect somewhere</td>
                        <td>Dog.findByidAndRemove()</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>